<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register/register.css" />
    <title>Document</title>
  </head>
  <body>
    <nav id="navbar">
      <div class="logo">
        <h2>DoorToDoor</h2>
      </div>

      <div class="links">
        <ul>
          <li><a href="/"> HOME</a></li>
          <li><a href="/services/Electrician">SERVICES</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="/register">REGISTER</a></li>
        </ul>
      </div>
    </nav>

    <div class="wrapper">
      <form action="/login" class="login-form" method="POST">
        <div class="form-control">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" autocomplete="off" />
        </div>

        <div class="form-control">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" />
        </div>

        <button type="submit">Login</button>

        <span>New User? <a href="/register">Register Now</a></span>
      </form>

      <div class="side-image-l">
        <img src="/images/reg-side1.jpg" />
      </div>
    </div>
  </body>
</html>
