* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  background: #353535;
  opacity: 0.65;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 10vh;
}

nav .logo h2 {
  color: white;
}

nav .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .links ul li {
  padding: 5px 10px;
}

nav .links ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  z-index: 3;
}

.background-div {
  height: 70vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.background-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.background-div form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cards {
  position: absolute;
  top: 40%;
  width: 100vw;
  padding: 7.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .card {
  height: 200px;
  width: 260px;
  padding: 5px;
  padding-top: 10px;
  margin-bottom: 30px;
  background-color: #3c6e71;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .card img {
  height: 150px;
  margin-bottom: 10px;
  background-color: #3c6e71;
  color: white;
}

.cards .card .carpenter {
  height: 500px;
}

.cards .card h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  mix-blend-mode: soft-light;
  margin-bottom: 20px;
}

form input {
  height: 50px;
  padding: 5px 10px;
  width: 350px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

form button {
  height: 50px;
  width: 85px;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  background-color: black;
  color: white;
}

#about {
  margin-top: 63vh;
  width: 100vw;
}

#about .about-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

#about .about-wrapper .left {
  width: 40%;
  height: 400px;
}

#about .about-wrapper .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .about-wrapper .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 45px;
}

#about .about-wrapper .right h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #353535;
}

#about .about-wrapper .right p {
  font-size: 1.2rem;
  margin-right: 40px;
}

#about .about-wrapper .right button {
  width: 180px;
  height: 50px;
  border: none;
  background-color: #353535;
  border-radius: 10px;
  margin-top: 40px;
}

#about .about-wrapper .right button a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.35px;
}

#footer {
  width: 100%;
  height: 345px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  color: white;
  margin-top: 55px;
  background-color: #353535;
  overflow: hidden;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem;
}

.footer-box {
  padding: 15px;
}

.footer-box h3 {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

#footer-box1 p {
  font-size: 1.2rem;
}

#footer-box2 ul {
  margin: 0 auto;
}

#footer-box2 ul li {
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  padding: 5px 10px;
}

#footer-box2 ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

#footer-box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#footer-box3 input {
  padding: 10px 10px;
  margin: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.1rem;
  outline: none;
}

#footer-box3 textarea {
  padding: 10px 10px;
  margin: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.1rem;
  outline: none;
}

#footer-box3 button {
  display: block;
  margin: 10px auto 10px;
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  outline: none;
  cursor: pointer;
}
/*# sourceMappingURL=home.css.map */